doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 銀行
  body
    a(href = "/logout") 登出
    p 你好，#{ nickname }
    p 目前餘額： #{ balance } 元
    button #[a(href=`/bank/history/${ account }`) 交易紀錄明細]
    p 選擇存提款
    button(onclick = 'deposit()') 存款
    button(onclick = 'transfer()') 轉帳
    button(onclick = 'withdraw()') 提款
    form(class='lightbox' action='/deposit' method='post' style='display:none')
      h2
      p 操作帳號：#[input(type = 'text' name = 'account' readonly value = account style = 'border:none;')]
      label(for = "target" id = 'transfer-account' style = 'display:none') 轉入帳號：#[input(type = 'text' id = 'target' name = 'target' disabled required)]
      label(for = 'amount') 金額#[input(type = "text" id = 'amount' name = 'amount' pattern = '[0-9]+([\.][0-9]{0,4})?' title = '只能輸入大於0的數字，最多小數點後四位' required)]
      br
      input(type = 'submit' value = '確定')

    script.
      const form = document.querySelector('form')
      const h2 = document.querySelector('h2')
      const transferAccount = document.querySelector('#transfer-account')
      const target = document.querySelector('#target')

      function deposit(){
        form.action = '/bank/deposit'
        form.style.display = 'block'
        transferAccount.style.display = 'none'
        target.disabled = true;
        h2.innerHTML='存款'
      }

      function transfer(){
        form.action = '/bank/transfer'
        form.style.display = 'block'
        transferAccount.style.display = 'block'
        target.disabled = false;
        h2.innerHTML='轉帳'
      }

      function withdraw(){
        form.action = '/bank/withdraw'
        form.style.display = 'block'
        transferAccount.style.display = 'none'
        target.disabled = true;
        h2.innerHTML = '提款'
      }
