doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 大富翁銀行
  body 
   p 最近交易：#{lastTXN.move} 金額：#{lastTXN.amount}元 時間：#{lastTXN.date} 餘額：#{lastTXN.balance}
   button #[a(href='/bank/history') 詳細內容]
   p 目前金額為： #{balance} 元
   button(onclick='deposit()') 存款
   button(onclick='withdraw()') 提款
   form(class='lightbox' action='/deposit' method='post' style='display:none')
    h2 
    input(type='number' name='amount' min='0')
    input(type='submit' value='確定')

    script(src="../public/js/index.js") 
